from datetime import datetime

TODAY = datetime.now().strftime('%Y%m%d')

# CONTENTS settings
SITE_URL = 'https://mag.osdn.jp/'
# SITE_URL = ''

# LINE settings
LINE_URL = 'https://notify-api.line.me/api/notify'
TOKEN = 'aa'
PICTURE_DIR = 'C://Users//yk28j\py-gori//Web_Scraping//Picture//' + TODAY
